# Node / Frontend
**/node_modules/
**/dist/
**/build/
*.log

# Java / Maven
**/target/
*.class
*.jar
# Node / Frontend
**/node_modules/
**/dist/
**/build/
*.log

# Java / Maven
**/target/
*.class
*.jar

# Python / Django
**/__pycache__/
*.pyc
**/venv/

# Secrets & Environment
*.env
.env
.env.*

# IDEs & System
.idea/
.vscode/
.DS_Store
Thumbs.db

# LaTeX temp files
*.aux
*.bbl
*.blg
*.out
*.toc
*.synctex.gz